body{
    font-family: 'Nunito';
    background-image: url("./spaceship_ship_futuristic_space_art_artwork_3840x2400.jpg");
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

#mario-chat{
    /* float: right; */
    /* float: inline-end; */
    position: absolute;
    right: 0;
    top:0;
    margin-top:20px;
    margin-right: 100px;
    width: calc(30%);
    /* margin: 16px auto; */
    border: 1px;
    background-color: #0d126d;
    color: #e9e9e9;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    font-family: 'Nunito';
}

#chat-window{
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #0d126d;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

button{
    background: #0d126d;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

/* $edit-window-height: 400px; */
#editing, #highlighting {
    /* Both elements need the same text and space styling so they are directly on top of each other */
    /* margin: 10px; */
    /* padding: 10px; */
    border: 0;
    width: calc(50% - 32px);
    height: calc(50% - 32px);
    overflow:scroll;
    white-space: nowrap;
    background-color: #555;
  }
  #editing1{
      height: calc(50% - 32px);
      width: calc(50% - 32px);
  }
  #editing, #highlighting, #highlighting * {
    /* Also add text styles to highlighting tokens */
    font-size: 15pt;
    font-family: monospace;
    line-height: 200pt;
  }
